<div class="user">
  <p class="user-name txtl"><%= @user.name %></p>
  <div class="user-img">
  <% if @user.image? %>
      <%= image_tag @user.image.url(:thumb) %>
   <% else %>
      <%= image_tag "no_image.jpg", :size => '200x200' %>
   <% end %>
  </div>
  <%= render 'items/items', items: @items %>
  <p class="edit-btn txtm"><%= link_to "ユーザー編集", edit_user_path(current_user) %></p>
</div>



