<% if items %>
<div class="search-result">
  <div class="inner">
    <div class="items">
    <% items.each do |item| %>
      <div class="item">
        <div class="item-top">
          <%  if item.id %>
          <p class="item-top-ttl txtm">お気に入り番号 <%= item.id %></p>
          <% end %>
          <div class="item-img">   
            <img src="<%= item.image_url %>" alt="" >
          </div>
        </div>
        <div class="item-btn">
        <% if item.persisted? %>
        <p class="item-name"><%= link_to item.name, item %></p>
        <% else %>
        <p class="item-name"><%= item.name %></p>
        <% end %>
          <div class="search-result-btns">
            <% if logged_in? %>
              <%= render 'favorites/like_button', item: item %>
            <% end %>
            <% if current_user.like?(item) %>
              <%= link_to "商品詳細", item_path(item), class: "detail-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>  
</div>
<% end %>