<!DOCTYPE html>
<html>
  <head>
    <title>5w</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      
    <%= render 'layouts/navbar' %>
    
    <%= render 'layouts/flash_messages' %>
    
    <main id="main">
    
    <%= yield %>
    
    </main>
    
    <%= render 'layouts/footer' %>
    
  </body>
</html>
